{% extends "base.html.twig" %}
{% block siteTitle %}Profil{% endblock %}
{% block bodyClass %}dashboard profile{% endblock %}
{% block body %}
    {% include "header.html.twig" %}    
        <div class="container">
            <div class="row col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Edycja danych
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, { 'attr' : {'autocomplete' : 'off'} }) }}
                        <div class="form-group row">
                            {{ form_label(form.first_name) }}
                            <div class="col-lg-9">
                                {{ form_widget(form.first_name) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ form_label(form.last_name) }}
                            <div class="col-lg-9">
                                {{ form_widget(form.last_name) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ form_label(form.username) }}
                            <div class="col-lg-9">
                                {{ form_widget(form.username) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ form_label(form.password) }}
                            <div class="col-lg-9">
                                {{ form_widget(form.password) }}
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            {{ form_label(form.repeat_password) }}
                            <div class="col-lg-9">
                                {{ form_widget(form.repeat_password) }}
                            </div>
                        </div>
                            
                        {% if session.role == 'a' %}
                        <div class="form-group row">
                            {{ form_label(form.role) }}
                            <div class="col-lg-9">
                                {{ form_widget(form.role) }}
                            </div>
                        </div>
                        {% endif %}
                        
                        <div class="form-group row">
                            {{ form_label(form.image) }}
                            <div class="col-lg-6">
                                {{ form_widget(form.image) }}
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-danger">Usuń zdjęcie</button>
                            </div>
                        </div>
                            
                        {{ form_widget(form.save) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
