{% extends "base.html.twig" %}
{% block siteTitle %}Raporty{% endblock %}
{% block bodyClass %}dashboard reports{% endblock %}
{% block body %}
    {% include "header.html.twig" %}    
    <div class="container">
        <div class="row">
            <div class="col-lg-3 report-colum panel panel-info">
                <div class="panel-heading">Wybierz klienta</div>
                <div class="panel-body">
                    <div><input type="text" class="form-control col-lg-8 clients-search reports-search" placeholder="Szukaj"></div>
                    <ul class="nav nav-pills nav-stacked">
                        {% for client in clients %}
                            <li{{ app.request.get('client') == client ? ' class="campaigns-li active"' : ' class="clients-li"' }}><a href="{{ path('dashboard', { 'page' : 'reports', 'client' : client }) }}">{{ client }}</a></li>    
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 report-colum panel {{ app.request.get('client') ? 'panel-info' : 'panel-default' }}">
                <div class="panel-heading">Wybierz kampanię</div>
                <div class="panel-body">
                    <div class="panel-disabled-info{{ app.request.get('client') ? ' hidden' : '' }}">
                        <img src="{{ asset('assets/images/logo-disabled.png') }}" alt="sparrow logo" class="disabled-logo"/>
                        <h3>Proszę wybrać klienta</h3>
                    </div>
                    {% if app.request.get('client') %}
                        <div><input type="text" class="form-control col-lg-8 campaigns-search reports-search" placeholder="Szukaj"></div>
                        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                            <li class="active"><a href="#active" data-toggle="tab">Aktywne</a></li>
                            <li class=""><a href="#inactive" data-toggle="tab">Niekatywne</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="active">
                                <ul class="nav nav-pills nav-stacked">
                                    {% for campaign in campaigns_active %}
                                        <li{{ app.request.get('campaign') == campaign.campaign_name ? ' class="campaigns-li active"' : ' class="campaigns-li"' }}><a href="{{ path('dashboard', { 'page' : 'reports', 'client' : app.request.get('client'), 'campaign' : campaign.campaign_name }) }}">{{ campaign.campaign_name }}</a></li>    
                                        {% endfor %}
                                </ul> 
                            </div>
                            <div class="tab-pane fade in" id="inactive">
                                <ul class="nav nav-pills nav-stacked">
                                    {% for campaign in campaigns_inactive %}
                                        <li{{ app.request.get('campaign') == campaign.campaign_name ? ' class="campaigns-li active"' : ' class="campaigns-li"' }}><a href="{{ path('dashboard', { 'page' : 'reports', 'client' : app.request.get('client'), 'campaign' : campaign.campaign_name }) }}">{{ campaign.campaign_name }}</a></li>    
                                    {% endfor %}
                                </ul> 
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 report-colum panel {{ app.request.get('campaign') ? 'panel-info' : 'panel-default' }}">
                <div class="panel-heading">Wybierz zakres dat i raport</div>
                <div class="panel-body">
                    <div class="panel-disabled-info{{ app.request.get('campaign') ? ' hidden' : '' }}">
                        <img src="{{ asset('assets/images/logo-disabled.png') }}" alt="sparrow logo" class="disabled-logo"/>
                        <h3>Proszę wybrać kampanię</h3>
                    </div>
                    {% if app.request.get('campaign') %}
                        <div class="col-lg-3 input-append date" id="dp3">
                            <label for="startDate">Data początkowa: </label>
                            <input class="span2 form-control datepicker" size="16" id="startDate" type="text" value="{{ date }}">
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                        <div class="col-lg-3 input-append date" id="dp4">
                            <label for="startDate">Data końcowa: </label>
                            <input class="span2 form-control datepicker" size="16" id="endDate" type="text" value="{{ date }}">
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default btn-wczoraj">Wczoraj</button>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control col-lg-8 campaigns-search reports-search reports-search-last" placeholder="Szukaj">
                        </div>
                        <ul class="nav nav-pills nav-stacked raports-list">
                            <li class="report-li"><a href="#">Konsultanci</a></li>
                            <li class="report-li"><a href="#">Konsultanci</a></li>
                            <li class="report-li"><a href="#">Konsultanci</a></li>
                            <li class="report-li"><a href="#">Konsultanci</a></li>
                            <li class="report-li"><a href="#">Konsultanci</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-12 panel report-buttons-strip">
                <div class="panel-body row">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-disabled btn">Generuj html</button>
                        <button type="button" class="btn btn-disabled btn">Pobierz *.xls</button>
                    </div>    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
