{% extends "base.html.twig" %}
{% block siteTitle %}Terminarz{% endblock %}
{% block bodyClass %}dashboard schedule{% endblock %}
{% block body %}
    {% include "header.html.twig" %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Terminarz
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="schedule"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addSchift" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Dodaj akcję</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" id="schedule-text">
                                <label class="control-label">Treść akcji</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Ustaw zajętość od </label>
                            <select id="time-start">
                                {% for i in 0..23 %}
                                <option {{ i == 8 ? 'selected': false }}>{{ i < 10 ? '0': false }}{{ i }}:00</option>
                                {% endfor %}
                            </select>
                            <label> do </label>
                            <select id="time-end">
                                {% for i in 0..23 %}
                                <option {{ i == 16 ? 'selected': false }}>{{ i < 10 ? '0': false }}{{ i }}:00</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="schedule-date" value="" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-warning" onclick="addSchedule()">Dodaj</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}